body{
    background-color: rgb(129, 69, 224);
}

#login_div{
    background-color: rgb(204, 176, 255);
    width: 500;
    height: 430;
    padding-top: 20px;
    border-radius: 10%;
}

#logo_image{
    border-radius: 50%;
    height: 140;
}

#h1{
    color: lightgray;
    font-size: 45px;
}

#h2{
    color: rgb(129, 69, 224);
    font-size:28px;
}

#h3{
    color: rgb(129, 69, 224);
    font-size: 20px;
}

#h4{
    color: rgb(129, 69, 224);
    font-size: 20px;
}

#login_input{
    width: 70%;border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 35;
    padding-left: 8;
    font-size: 16px;
}

#login_button{
    height: 35;
    width: 70%;border-radius: 15px;
    background-color: rgb(129, 69, 224);
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}